<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/new favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Astro.generator" />
    <title>TsubasaKoshide website</title>

    <!-- Google Fonts から Noto Sans をインポート -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    
    
    <!-- 共通のスタイルシートを読み込む -->
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <header>
        <style>
      /* ボディの背景色を設定 */
      body {
        background-color:#F6F6F6; /* 背景色を#F6F6F6（淡い黄色）に設定 */
      }
          <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">/* フォント設定 */
    </style>
       <h1 class="noto-sans-jp-header">Tsubasa Koshide</h1>
      <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/contact/">Contact</a>
      <a href="https://takstudio.base.shop/" target="_blank" rel="noopener noreferrer">Shop</a>
      <a href="https://takstudio.tokyo/" target="_blank" rel="noopener noreferrer">TAK Studio</a>

      </nav>
    </header>

<body>
 
<!DOCTYPE html>
<html lang="ja">
</head>
<body>

  <main class="about-section">
    <section class="about-content">
      <p class="about-text">
      Industrial Designer/ Art Director

Born in Fukuoka, JP, 1996.
Lives and works in Tokyo, JP

Specialize in
Industrial design, Branding
CGI works, Charactor design
Exhibition artwork


越出つばさ（こしでつばさ）


日本の福岡に生まれ、東京を拠点に活動するビジュアル＆インダストリアルデザイナー。多摩美術大学デザインで学部号、スイスのローザンヌにあるECALにて修士号を取得。在学中、現代美術作家のアシスタントとして活動する傍ら、アメリカのアートセンター・カレッジ・オブ・アートでもプロダクトデザインを学ぶ。東京のデザイン事務所に勤務した後、フリーランスデザイナーとして活動しつつ、プロダクトブランドFRAMEsとTAK Studioの運営を行う。
日々の暮らしや文化を起点とし実用的な道具から装飾的なオブジェやかわいいわんちゃんまで様々なデザインに携わる。
ポップでアイコニックながらも、どこか日本のシンプリシティの美学を感じるデザインが好きです。

取材の際のプレスキットは<a href="https://takstudio.notion.site/TSUBASA-KOSHIDE-PRESS-KIT-967b499136574bc08211d3c05869f9b5" target="_blank"><span style="color:　#68a9cf; text-decoration: none　!important;;">こちら</span></a>からDLしてください。


SERVICES

社会や地域の文化的背景を大切にデザインで価値を創出するきっかけを与えるものづくりを目指しています。
プロダクトデザインや既存プロダクトのリブランディング、新規ブランド立ち上げなど、なにかを作り出したいというパワーやご希望に合わせて対応させていただきます。
初回のお問い合わせはお問い合わせフォームからお願いします。とりあえずのお話からでもなんでも気軽にご連絡ください！
Product design / Art direction / Brabding / Package / Paper Item / Season Visual / Artwork


FRAMEs

FRAMEsは、額縁を写真やイラストレーションの一部としてより楽しめるようにすることを目標としたプロダクトブランド。古くから額縁は、職人の手によって作品の一部として大切に作られてきましたが大量生産とホワイトキューブ型の展示スタイルが普及して以来、額縁の独特な形は失われつつあると考えます。その為、もっと気軽にさまざまなスタイルの額縁が世の中に増えたら面白いと思い様々なアーティストとのコラボで作品を発表しています。

Select Clients
米山舞/タキタサキ/あらいきりこ/millitsuka/藤巻佐有梨/ア～ミ～/コマツタスク/OJIYU/Gennie ink/Anna Kawahara


OFFICE

〒136-0072 東京都江東区大島6丁目26−7 3F　ARKE内
3F ARKE,6-26-7, Ojima, Ko-to-ku, Tokyo 1360072




      </p>
    </section>
  </main>

<footer class="footer">
  <p>
    ©tsubasa koshide 2025　    
    <a href="https://www.instagram.com/tsubasa_koshide" class="footer-link">
      ＠tsubasa_koshide     
    </a>     
   　
    <a href="mailto:tsubasa@tak.studio" class="footer-link">
      tsubasa@tak.studio
    </a>
  </p>
</footer>

</body>
</html>

