<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/new favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Astro.generator" />
    <title>TsubasaKoshide website</title>

    <!-- Google Fonts から Noto Sans をインポート -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    
    
    <!-- 共通のスタイルシートを読み込む -->
    <link rel="stylesheet" href="/css/style.css">

  </head>

   <!-- ページタイトル -->
  <title>tsubasakoshide website</title>

  <!-- サイトのディスクリプション -->
  <meta name="description" content="tsubasa koshide is a industrial and visual designer based in Tokyo.">

  <!-- OGP設定 -->
  <meta property="og:title" content="tsubasakoshide website">
  <meta property="og:description" content="tsubasa koshide is a industrial and visual designer based in Tokyo.">
  <meta property="og:image" content="https://tsubasakoshide.tokyo/images/og-thumbnail.jpg">
  <meta property="og:url" content="https://tsubasakoshide.tokyo">
  <meta property="og:type" content="website">

  <!-- Twitterカード設定 -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="tsubasakoshide website">
  <meta name="twitter:description" content="tsubasa koshide is a industrial and visual designer based in Tokyo.">
  <meta name="twitter:image" content="https://tsubasakoshide.tokyo/images/og-thumbnail.jpg">

  <body>
    <header>
        <style>
      /* ボディの背景色を設定 */
      body {
        background-color:#F6F6F6; /* 背景色を#F6F6F6（淡い黄色）に設定 */
      }
          <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">/* フォント設定 */
    </style>
       <h1 class="noto-sans-jp-header">Tsubasa Koshide</h1>
      <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/contact/">Contact</a>
      <a href="https://takstudio.base.shop/" target="_blank" rel="noopener noreferrer">Shop</a>
      <a href="https://takstudio.jp/" target="_blank" rel="noopener noreferrer">TAK Studio</a>
      </nav>
    </header>

<body>

  <main class="contact-section">
    <h1 class="contact-title"><br><br>
      デザインに関する質問/お問い合わせ、取材の依頼<br>
      TAK STUDIOやFRAMEsに関することもkoshidetsubasa@gmail.comにお願いします。<br>
      ※ただいまインターンの募集はしてません。<br><br>
      もし2-3営業日を過ぎても返信ない場合はお手数ですが再度送付していただく<br>
      または各種SNSのDMにてお問い合わせいただけますと幸いです。
<br><br><br><br>

      Design questions/enquiries and interview requests<br>
Please also send any enquiries about TAK STUDIO or FRAMEs here.<br>
<br>
If you do not receive a reply after 2-3 working days, please send us your enquiry again or DM us on our social networking sites.<br><br><br><br>


  </main>

  <footer class="footer">
    <p>©tsubasa koshide 2025</p>
  </footer>

</body>

</html>
